<template>
  <span class="text-box" :style="data.style" v-html="data.text"></span>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style scoped>
  .text-box {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
  }
</style>
