<template>
  <div id="app">
    <div class="buttons">
      <button :disabled="activeString === 0" @click="property = 'color'">Change color</button>
      <button :disabled="activeString === 0" @click="property = 'font-size'">Change font-size</button>
      <button :disabled="activeString === 0" @click="property = 'background'">Change background</button>
    </div>
    <div class="edit-area">
      <div class="edit-property edit-color">
        <template v-if="property === 'color'">
          <label for="color">
            color
          </label>
          <input type="text" v-model="childText.style.color" id="color">
        </template>
      </div>
      <div class="edit-property edit-font-size">
        <template v-if="property === 'font-size'">
          <label for="font-size">
            font-size
          </label>
          <input type="text" v-model="childText.style['font-size']" id="font-size">
        </template>
      </div>
      <div class="edit-property edit-color">
        <template v-if="property === 'background'">
          <label for="background">
            background
          </label>
          <input type="text" v-model="childText.style.background" id="background">
        </template>
      </div>
    </div>
    <div v-if="activeString !== 0" class="string-area">
      <input type="text" v-model="childText.text" id="text">
      <label for="text" >For adding line break use "<code>br</code>" tag on the right place</label>
    </div>
    <div class="strings">
      <String :data="text1" @click.native="activateString(1)" :style="[activeString === 1 ? activeStyle : '']"/>
      <String :data="text2" @click.native="activateString(2)" :style="[activeString === 2 ? activeStyle : '']"/>
      <String :data="text3" @click.native="activateString(3)" :style="[activeString === 3 ? activeStyle : '']"/>
      <String :data="text4" @click.native="activateString(4)" :style="[activeString === 4 ? activeStyle : '']"/>
    </div>
    <div class="json-area">
        <button @click="printJson" class="to-json">Print json</button>
        <div>
            <pre class="json">{{json}}</pre>
        </div>
    </div>
  </div>
</template>

<script>
import String from './components/String.vue'

export default {
  name: 'App',
  components: {
    String
  },
  data () {
    return {
      json: '',
      activeString: 0,
      property: '',
      activeStyle: {
        outline: "solid 5px #FC5185"
      },
      childText: {},
      text1: {
        style: {
          color: "red",
          "font-size": "20px",
          background: "gray"
        },
        text: `text1`
      },
      text2: {
        style: {
          color: "black",
          "font-size": "35px",
          background: "yellow"
        },
        text: "text2"
      },
      text3: {
        style: {
          color: "#123456",
          "font-size": "1rem",
          background: "rgba(0, 0, 0, 0.2)"
        },
        text: "text2"
      },
      text4: {
        style: {
          color: "#fff",
          "font-size": "10px",
          background: "#000"
        },
        text: "text4"
      }
    };
  },
  methods: {
    activateString(number) {
      this.property = '';
      this.activeString = number;
      let text='text'+number;
      this.childText = this[text]
    },
    printJson() {
      let amount = document.getElementsByClassName('text-box').length;
      let json = [];
        for (let i=1; i<=amount; i++) {
          let text='text'+i;
          json.push(this[text]);
        }
        this.json = JSON.stringify(json, null, 4)
    }
  }
}
</script>

<style>
  .buttons, .edit-area {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .buttons button, .edit-property {
    width: 30%;
    height: 25px;
    float: left;
    margin-right: 5%;
  }
  .buttons button:last-child, .edit-property:last-child {
    margin-right: 0;
  }
  .strings, .json-area {
    margin-top: 20px
  }
</style>
